<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension-point id="reporterListenerContributorSchema" name="%reporterListenerContributor.name" schema="schema/reporterListenerContributorSchema.exsd"/>
  <extension-point id="testListenerContributorSchema" name="%testListenerContributor.name" schema="schema/testListenerContributorSchema.exsd"/>
  <extension-point id="launchConfigurationProvider" name="%launchConfigurationProvider" schema="schema/launchConfigurationProvider.exsd"/>

  <extension
      point="org.eclipse.core.expressions.propertyTesters">

    <propertyTester
          id="org.testng.eclipse.launch.tester.TestNGPropertyTester"
          type="org.eclipse.core.runtime.IAdaptable"
          namespace="org.testng.eclipse"
          properties="isTest,isSuite,isXmlSuite"
          class="org.testng.eclipse.launch.tester.TestNGPropertyTester">
    </propertyTester>
  </extension>

  <extension point="org.eclipse.ui.popupMenus">
    <viewerContribution
        id="testng.editor.popup"
        targetID="#CompilationUnitEditorContext" >
      <menu
            id="testng.editor.menu"
            label="TestNG"
            path="additions">
         <groupMarker name="content"/>
         <separator name="additions"/>
      </menu>
    </viewerContribution>
  </extension>

  <extension point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            variable="TESTNG_HOME"
            class="org.testng.eclipse.buildpath.TestNGHomeInitializer">
      </classpathVariableInitializer>
  </extension>
       
  <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.testng.eclipse.launchconfig"
            class="org.testng.eclipse.launch.TestNGTabGroup"
            id="org.testng.eclipse.launchConfigurationTabGroup.testng"/>
  </extension>
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.testng.eclipse.launch.TestNGLaunchConfigurationDelegate"
            id="org.testng.eclipse.launchconfig"
            modes="run,debug"
            name="TestNG"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
  </extension>

  <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.testng.eclipse.launchconfig"
            icon="icons/full/main16/testng.gif"
            id="org.testng.eclipse.launchimage"/>
  </extension>

  <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.jdt.ui.java"
            class="org.testng.eclipse.ui.TestRunnerViewPart"
            icon="icons/full/main16/testng_blur.gif"
            id="org.testng.eclipse.ResultView"
            name="%TestNG4Eclipse.ResultView"/>
  </extension>

  <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.testng.eclipse.launch.TestNGLaunchShortcut"
            icon="icons/full/main16/testng.gif"
            id="org.testng.eclipse.shortcut"
            label="%TestNGShortcut.test.label"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <iterate>
                    <or>
                      <test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
                      <test property="org.eclipse.debug.ui.matchesPattern" value="*.class"/>
                      <instanceof value="org.eclipse.jdt.core.IJavaElement"/>
                    </or>
                    <test property="org.testng.eclipse.isTest" forcePluginActivation="true"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <perspective
               id="org.eclipse.jdt.ui.JavaPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaHierarchyPerspective">
         </perspective>
         <perspective
               id="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         </perspective>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
      </shortcut>
      <shortcut
            class="org.testng.eclipse.launch.TestNGSuiteLaunchShortcut"
            icon="icons/full/main16/testng.gif"
            id="org.testng.eclipse.shortcut.testngSuite"
            label="%TestNGShortcut.suite.label"
            modes="run,debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                    <adapt type="org.eclipse.core.resources.IResource">
                       <and>
                          <test property="org.testng.eclipse.isSuite"/>
                       </and>
                    </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
  </extension>

  <!-- Project specific properties -->
  <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.testng.eclipse.ui.preferences.ProjectPropertyPage"
            id="org.testng.eclipse.properties.propertyPage1"
            name="TestNG">
         <enabledWhen>
            <and>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </and>
         </enabledWhen>
      </page>
  </extension>
   
  <extension
         point="org.eclipse.ui.commands">
      <command
            name="%TestNGCommand.run.test.label"
            description="%TestNGCommand.run.test.label"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.testng.eclipse.shortcut.run">
      </command>
      <command
            name="%TestNGCommand.debug.test.label"
            description="%TestNGCommand.debug.test.label"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.testng.eclipse.shortcut.debug">
      </command>
      <command
            name="%TestNGCommand.run.suite.label"
            description="%TestNGCommand.run.suite.label"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.testng.eclipse.shortcut.testngSuite.run">
      </command>
      <command
            name="%TestNGCommand.debug.suite.label"
            description="%TestNGCommand.debug.suite.label"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.testng.eclipse.shortcut.testngSuite.debug">
      </command>
      <command
            name="%TestNGCommand.convertToTestNG.label"
            description="%TestNGCommand.convertToTestNG.desc"
            categoryId="org.eclipse.jdt.ui.category.refactoring"
            id="org.testng.eclipse.convertAction"
            defaultHandler="org.testng.eclipse.refactoring.ConvertFromJUnitAction"
            >
      </command>
      <command
            name="%TestNGCommand.createTestNGClass.label"
            description="%TestNGCommand.createTestNGClass.desc"
            categoryId="org.eclipse.jdt.ui.category.refactoring"
            id="org.testng.eclipse.createClassAction"
            defaultHandler="org.testng.eclipse.refactoring.CreateClassAction"
            >
      </command>
      <command
            name="%TestNGCommand.convertToYaml.label"
            description="%TestNGCommand.convertToYaml.desc"
            id="org.testng.eclipse.convertToYamlAction"
            defaultHandler="org.testng.eclipse.refactoring.ConvertToYamlAction"
            >
      </command>
      <command
            name="%TestNGCommand.shortcut.rerunLast.label"
            description="%TestNGCommand.shortcut.rerunLast.desc"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.testng.eclipse.shortcut.rerunLast">
      </command>
      <command
            name="%TestNGCommand.shortcut.rerunFailed.label"
            description="%TestNGCommand.shortcut.rerunFailed.desc"
            categoryId="org.eclipse.debug.ui.category.run"
            id="org.testng.eclipse.shortcut.rerunFailed">
      </command>
  </extension>

  <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M3+M2+D N"
            commandId="org.testng.eclipse.shortcut.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
          <!-- COMMAND+ALT+Q is "Hide/Show Dock" on carbon, so don't overwrite it -->
      <key
            sequence="M3+M2+X N"
            commandId="org.testng.eclipse.shortcut.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M3+M2+D G"
            commandId="org.testng.eclipse.shortcut.testngSuite.debug"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
          <!-- COMMAND+ALT+Q is "Hide/Show Dock" on carbon, so don't overwrite it -->
      <key
            sequence="M3+M2+X G"
            commandId="org.testng.eclipse.shortcut.testngSuite.run"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  </extension>

  <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
          <quickAssistProcessor
                   id="org.testng.eclipse.ui.conversion.JUnitConverterQuickAssistProcessor"
                   name="org.testng.eclipse.ui.conversion.JUnitConverterQuickAssistProcessor"
                   class="org.testng.eclipse.ui.conversion.JUnitConverterQuickAssistProcessor">
          </quickAssistProcessor>
          <quickAssistProcessor
                class="org.testng.eclipse.refactoring.TestNGQuickAssistProcessor"
                id="org.testng.eclipse.refactoring.TestNGQuickAssistProcessor"
                name="org.testng.eclipse.refactoring.TestNGQuickAssistProcessor">
          </quickAssistProcessor>
  </extension>

  <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="org.testng.eclipse.ui.TestNGQuickFixProcessor"
            id="org.testng.eclipse.ui.TestNGQuickFixProcessor"
            name="org.testng.eclipse.ui.TestNGQuickFixProcessor"/>
  </extension>

  <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.testng.eclipse.buildpath.TestNGContainerInitializer"
            id="org.testng.TESTNG_CONTAINER"/>
  </extension>

  <!-- Workspace wide preferences -->
  <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.testng.eclipse.ui.preferences.WorkspacePreferencePage"
            id="org.testng.eclipse.ui.preferences.PreferencePage"
            name="TestNG"/>
      <page
            class="org.testng.eclipse.ui.preferences.RunDebugPreferencePage"
            id="org.testng.eclipse.ui.preferences.RunDebugPreferencePage"
            category="org.testng.eclipse.ui.preferences.PreferencePage"
            name="Run/Debug"/>
  </extension>

  <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.testng.eclipse.ui.preferences.PreferenceInitializer"/>
  </extension>

  <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.testng.eclipse"
            name="TestNG">
      </category>
      <wizard
            category="org.testng.eclipse"
            class="org.testng.eclipse.wizards.NewTestNGClassWizard"
            icon="icons/full/main16/testng.gif"
            id="org.testng.eclipse.wizards.NewTestNGClassWizard"
            name="TestNG class">
      </wizard>
  </extension>

  <extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="org.testng.eclipse.refactoring.ConvertFromJUnitRefactoringContribution"
            id="org.testng.eclipse.convert">
      </contribution>
  </extension>
<!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.testng.eclipse.actionSet"
            label="TestNG actionSet">
         <menu
               id="org.testng.eclipse.menu1"
               label="TestNG actionSet menu"
               path="edit">
            <separator
                  name="org.testng.eclipse.separator1">
            </separator>
         </menu>
      </actionSet>
   </extension>
-->

 <extension point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any">
        <separator
              name="testng-eclipse.separator2"
              visible="true">
        </separator>

        <menu label="TestNG">
          <visibleWhen>
              <iterate ifEmpty="false">
                 <adapt type="org.eclipse.jdt.core.IJavaElement">
                   <instanceof value="org.eclipse.jdt.core.IJavaElement" />
                 </adapt>
              </iterate>
          </visibleWhen>
          <command
              commandId="org.testng.eclipse.createClassAction"
              icon="icons/full/main16/testng-create.gif"
              label="Create TestNG class"
              style="push">
          </command>
          <command
              commandId="org.testng.eclipse.convertAction"
              icon="icons/full/main16/testng-convert.gif"
              label="Convert to TestNG"
              style="push">
          </command>
        </menu>

       <menu label="TestNG">
          <visibleWhen>
            <with variable="selection">
              <iterate
                    ifEmpty="false">
                 <adapt type="org.eclipse.core.resources.IFile">
                   <test property="org.eclipse.core.resources.name" value="*.xml"/>
                   <test property="org.testng.eclipse.isXmlSuite"/>
                   <instanceof value="org.eclipse.core.resources.IFile" />
<!--
                 <adapt type="org.eclipse.core.runtime.IAdaptable">
-->
                 </adapt>
              </iterate>
            </with>
          </visibleWhen>

          <command
              commandId="org.testng.eclipse.convertToYamlAction"
              label="Convert to YAML"
              style="push">
          </command>
        </menu>

    </menuContribution>
  </extension>
 <extension
       point="org.eclipse.jdt.ui.classpathContainerPage">
    <classpathContainerPage
          class="org.testng.eclipse.ui.buildpath.TestNGContainerWizardPage"
          id="org.testng.TESTNG_CONTAINER"
          name="TestNG">
    </classpathContainerPage>
 </extension>
 <extension
       point="org.eclipse.ui.editors.templates">
    <template
          autoinsert="false"
          contextTypeId="java-members"
          description="%template.testmethod.desc"
          id="org.testng.eclipse.template.testmethod"
          name="%template.testmethod.name">
       <pattern>
          @${testType:newType(org.testng.annotations.Test)}
public void ${testName}() throws Exception {
    ${cursor}
}
       </pattern>
    </template>
    <template
          autoinsert="false"
          contextTypeId="java-members"
          description="%template.setUpClass.desc"
          id="org.testng.eclipse.template.setup"
          name="%template.setUpClass.name">
       <pattern>
          @${testType:newType(org.testng.annotations.BeforeClass)}
public void ${setUp}() throws Exception {
    ${cursor}
}
       </pattern>
    </template>
    <template
          autoinsert="false"
          contextTypeId="java-members"
          description="%template.tearDownClass.desc"
          id="org.testng.eclipse.template.teardown"
          name="%template.tearDownClass.name">
       <pattern>
          @${testType:newType(org.testng.annotations.AfterClass)}
public void ${tearDown}() throws Exception {
    ${cursor}
}
       </pattern>
    </template>
    <template
          autoinsert="false"
          contextTypeId="java-members"
          description="%template.setUpMethod.desc"
          id="org.testng.eclipse.template.setupMethod"
          name="%template.setUpMethod.name">
       <pattern>
          @${testType:newType(org.testng.annotations.BeforeMethod)}
public void ${setUpMethod}() throws Exception {
    ${cursor}
}
       </pattern>
    </template>
    <template
          autoinsert="false"
          contextTypeId="java-members"
          description="%template.tearDownMethod.desc"
          id="org.testng.eclipse.template.teardownMethod"
          name="%template.tearDownMethod.name">
       <pattern>
          @${testType:newType(org.testng.annotations.AfterMethod)}
public void ${tearDownMethod}() throws Exception {
    ${cursor}
}
       </pattern>
    </template>
 </extension>
 <extension
       point="org.eclipse.ui.systemSummarySections">
    <section
          class="org.testng.eclipse.SystemSummarySection"
          id="org.testng.eclipse.SystemSummarySection"
          sectionTitle="TestNG for Eclipse Details">
    </section>
 </extension>
 <extension
       point="org.eclipse.ui.startup">
    <startup
          class="org.testng.eclipse.ui.preferences.JdtPreferenceInjector">
    </startup>
 </extension>
 <extension
       point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
    <codeMiningProvider
          class="org.testng.eclipse.ui.codemining.TestCodeMiningProvider"
          id="org.testng.eclipse.codemining.testngProvider">
    </codeMiningProvider>
 </extension>

</plugin>
