<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="uitestapplication"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="false">
         <run
               class="org.testng.eclipse.pde.runtime.UITestApplication">
         </run>
      </application>
   </extension>
   <extension
         id="legacytestapplication"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="false">
         <run
               class="org.testng.eclipse.pde.runtime.LegacyUITestApplication">
         </run>
      </application>
   </extension>
   <extension
         id="coretestapplication"
         point="org.eclipse.core.runtime.applications">
      <application
            visible="false">
         <run
               class="org.testng.eclipse.pde.runtime.CoreTestApplication">
         </run>
      </application>
   </extension>
   <extension
         id="coretestapplicationnonmain"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            thread="any"
            visible="false">
         <run
               class="org.testng.eclipse.pde.runtime.CoreTestApplication">
         </run>
      </application>
   </extension>
   <extension
         id="nonuithreadtestapplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="1"
            visible="false">
         <run
               class="org.testng.eclipse.pde.runtime.NonUIThreadTestApplication">
         </run>
      </application>
   </extension>
   
</plugin>
